<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>兰信人事管理系统</title>
    <link href="css/bootstrap.min.css" rel="stylesheet" />
    <link href="css/bootstrap-table.min.css" rel="stylesheet" />
    <link href="css/bootstrap-treeview.min.css" rel="stylesheet" />
    <link href="css/bootstrap-table-fixed-columns.css" rel="stylesheet" />
    <script src="js/third/vue-2.0.js" type="text/javascript"></script>
    <script src="js/third/jquery-3.1.1.js" type="text/javascript"></script>
    <script src="js/third/jquery.linq.js" type="text/javascript"></script>
    <script src="js/third/bootstrap.min.js" type="text/javascript"></script>
    <script src="js/third/bootstrap-select.min.js" type="text/javascript"></script>
    <script src="js/third/bootstrap-table.min.js" type="text/javascript"></script>
    <script src="js/third/bootstrap-table-locale-all.min.js" type="text/javascript"></script>
    <script src="js/third/bootstrap-treeview.js" type="text/javascript"></script>
    <script src="js/third/bootstrap-table-fixed-columns.js" type="text/javascript"></script>
    <link href="css/app.css" rel="stylesheet" />
</head>

<body>
    <div id="app">
        <header-component ref="headerComponent"></header-component>
        <div class="content">
            <contentleft-component ref="contentleftComponent" :plist="plist"></contentleft-component>
            <div class="content-center">
                <div class="container">
                    <div class="row recoperation">
                        <div class="col-md-3">
                            <form class="form-horizontal">
                                <div class="form-group form-group-sm">
                                    <label class="col-sm-3 control-label" for="corporation">
                                        部门</label>
                                    <div class="col-sm-9">
                                        <organization-component ref="organizationComponent" v-on:orgselect="cb_orgSelect"></organization-component>
                                    </div>
                                </div>
                            </form>
                        </div>
                        <div class="col-md-3">
                            <form class="form-horizontal">
                                <div class="form-group form-group-sm">
                                    <label class="col-sm-3 control-label" for="positionname">职位</label>
                                    <div class="col-sm-9">
                                        <select v-model="positionname" id="positionname" class="form-control">
                                            <option v-for="item in positionnames">{{item.positionname}}</option>
                                        </select>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div id="toolbar">
                                <div class="btn btn-xs btn-info add">
                                    <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>候选人添加</div>
                            </div>
                            <table id="recruitment"></table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" tabindex="-1" role="dialog" orgid="" id="interviewee">
        <div class="modal-dialog modal-sm" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    候选人添加
                </div>
                <div class="modal-body">
                    <form class="">
                        <div class="form-group form-group-sm">
                            <input class="form-control" type="text" id="intervieweename" placeholder="候选人名字" />
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <div class="btn btn-default cancel" data-dismiss="modal">取消</div>
                    <div class="btn btn-danger edit">保存</div>
                </div>
            </div>
        </div>
    </div>
</body>
<script src="js/component/header-component.js" type="text/javascript"></script>
<script src="js/component/contentleft-component.js" type="text/javascript"></script>
<script src="js/component/organization-component.js" type="text/javascript"></script>
<script src="js/app/recruitment.js" type="text/javascript"></script>

</html>